.btn {
  transition: all 0.3s;
  font-family: 'Crimson Text', serif;
}
.modal-btn {
  font-size: var(--h4);
  height: 5rem;
  color: var(--background-primary);
  border: 1px solid #fff;
  padding: 0.5rem 2.4rem;
  text-decoration: none;
  transition: all 0.4s;
  background-color: var(--text-primary);
  border-radius: 3rem;
  transition: all 0.3s;
}
.modal-btn:hover {
  border: 1px solid clear;
  background-color: var(--background-primary);
  cursor: pointer;
  color: var(--text-primary);
}
.link,
.link:visited,
.link:active {
  color: var(--link-text);
  text-decoration: none;
}
.btn:hover {
}
