.mockup-container {
    height: auto;
  
    @include flex-col;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
  }
  
  .mockup-header {
    margin: 3rem auto;
    font-size: var(--h1);
    text-transform: uppercase;
  }
  .mockup-created {
    margin: 2rem auto;
  }
  .mockup-video {
    width: 30vw;
    margin: 0 auto;
  }
  @include tablet {
    .mockup-video {
      width: 50vw;
    }
  }
  .graduation {
    font-style: italic;
    color: #cba50e;
  }
  .mockup-desc {
    margin: 3rem auto;
    font-size: var(--h4);
    width: 40%;
    text-align: center;
  }
  .author-banner {
    @include flex-col;
    width: 100%;
    margin: 2rem auto;
    background-color: var(--background-primary);
  }
  .authors-list {
    @include flex-row;
    width: 40vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  @include tablet {
    .mockup-author-container {
      width: 80%;
    }
    .mockup-desc {
      width: 75%;
    }
    .authors-list {
      width: 80vw;
    }
  }
  .mockup-author-container {
    margin: 1rem auto;
    width: 45%;
  }
  .mockup-links {
    width: 25vw;
    margin: 2rem auto;
    @include flex-row;
    justify-content: space-around;
  }
  .mockup-button-link {
    z-index: 2;
    font-size: var(--h4);
    height: 5rem;
    width: 12rem;
    z-index: 1;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
    color: var(--text-primary);
  }
  
  .mockup-button-link:hover {
    cursor: pointer;
    border-bottom: 3px solid var(--text-primary);
  }