.work-row {
  display: flex;
  width: 90%;
  margin: 2rem auto;
  justify-content: space-around;
  align-items: center;
  height: auto;
}
.work-content {
  @include flex-col;
  justify-content: space-around;
  width: 45%;
}
.work-title {
  text-transform: uppercase;
}
.work-image {
  height: auto;
  width: 40%;
  filter: grayscale(30);
  transition: all 0.5s;
  opacity: 0.5;
}
.work-image:hover {
  filter: grayscale(0);
  opacity: 1;
}
.work-developed {
  font-style: italic;
}
